.form-popup {
  position: fixed; /* Sayfanın ortasında sabit durmasını sağlar */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Tam ortada görünmesini sağlar */
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  z-index: 9999; /* Diğer öğelerin üzerinde olmasını sağlar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Kutunun etrafında gölge ekler */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: tomato;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000;
  border: none;
}


.navbar-nav .nav-link {
  cursor: pointer;
  color: white;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: tomato;
}

/* Sayfa konteynerini flexbox olarak ayarlayın */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Sayfa yüksekliğini en az ekran boyutu kadar yap */
}

/* Footer'ı en altta sabitlemek için */
.footer {
  margin-top: auto; /* Sayfa içeriği yukarı kayarken footer en alta gider */

  padding: 10px 0; /* Padding ekleyin */
}

.footer p {
  margin: 0;
  color: white; /* Yazı rengini beyaz yapın */
}

