body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: tomato;
}

/* Navbar */
.talepler-navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.talepler-navbar h2 {
  margin: 0;
  font-size: 20px;
}

.talepler-navbar button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.talepler-navbar button:hover {
  background-color: red;
}

/* İçerik */
.talepler-container {
  padding: 40px;
}

.talepler-container h3 {
  text-align: center;
  margin-bottom: 30px;
}

/* Tablo */
.talepler-table {
  width: 100%;
  border-collapse: collapse;
  background-color: tomato;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: white;
}

.talepler-table th, .talepler-table td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: left;
}

.talepler-table th {
  background-color: tomato;
}



/* Footer */
.talepler-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
