/* Ana sayfa arka planı */
.page-container {
  background-color: #FF6347; /* Tomato (Kırmızımsı Turuncu) */
  min-height: 100vh; /* Sayfanın tamamını kaplamak için */
}

/* Navbar bölümü */
.navbar {
  background-color: #343a40; /* Navbarın arka planını koyu renk yapıyoruz */
}

/* Diğer içerik alanları */
.content {
  padding: 20px;
  color: white; /* Yazıları beyaz yapalım, kırmızı arka planda okunabilirlik sağlasın */
}


/* Modal dışındaki arka planın stilini ayarlıyoruz */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.5);  /* Kırmızı renk (rgba formatında) */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal içeriğinin stilini ayarlıyoruz */
.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Modal kapama butonunun stilini */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
