.form-popup-box {
  position: fixed; /* Sayfanın ortasında sabit dursun */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FF6347;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  z-index: 9999; /* Diğer her şeyin üzerinde olsun */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  color: #FF6347;
  padding: 5px 10px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000;
}

.navbar-nav .nav-link {
  cursor: pointer;
  color: white;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: #ffc107;
}
