/* Üstteki başlık: Giriş Yap */
.login-form h3 {
    color: white;
  }
  
  /* Giriş Yap butonu: arka plan beyaz, yazı rengi tomato */
  .login-form .btn {
    background-color: white;
    color: tomato;
    border: none;
  }
  
  /* "Kayıt Ol" linki beyaz */
  .login-form p a {
    color: white;
  }
  
  /* Input'ların üzerindeki label yazılarını beyaz yap */
  .login-form .form-label {
    color: white;
  }
  