/* Üstteki başlık: Kayıt Ol */
.register-form h3 {
    color: tomato;
  }
  
  /* Kayıt Ol butonu: arka plan beyaz, yazı rengi tomato */
  .register-form .btn {
    background-color: tomato;
    color: white;
    border: none;
  }
  
  /* "Giriş Yap" linki beyaz */
  .register-form p a {
    color: tomato;
  }
  
  /* Input'ların üzerindeki label yazılarını beyaz yap */
  .register-form .form-label {
    color: tomato;
  }
  